/* 
- Soft red: hsl(10, 79%, 65%)
- Cyan: hsl(186, 34%, 60%) 
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


* {
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: hsl(10, 79%, 94%);
    font-family: 'DM Sans', sans-serif;
}

p {
    margin: 0;
    text-align: center;
    
}

h3 {
    font-size: 35px;
    margin: 3px 0 0;
}

h2 {
    margin: 0.5rem 0;
}

.container {
    width: 470px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: hsl(10, 79%, 65%);
    margin-bottom: 50px;
    border-radius: 1.5rem;
}

.balance {
    color:hsl(9, 100%, 94%);
}

.balance > h2 {
    color: white;
}

.balance_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5rem;
    height: 350px;
}

#chart__title {
    display: flex;
    margin-left: 1.7em;
} 

ul {
    display: flex;
    justify-content: center;
    width: 470px;
    align-items: flex-end; 
    margin: 15px 10px;
    padding: 0px;
}

li {
    margin: 10px;
    list-style-type: none;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    width: 40px;  
}

li:hover {
    background-color: hsl(186, 34%, 60%)
}

.amount {
    display: flex;
    justify-content: space-between;
    width: 410px;
}

#dash {
    width: 400px;
    height: 1.5px;
    background-color: hsl(9, 100%, 94%);;
    margin-bottom: 25px;
}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.attribution {
    padding-top: 20px;
}

#gray__color {
    color: gray;
}

#growth__number {
    font-weight: bold;
}